In [5]:
import numpy as np
import pandas as pd

In [6]:
# pd.Series(), Tek bir sütun olarak verileri işler, numpy array'in birebir
# aynı işlevini görür. En önemli farkı, indeksleme işlemi için
# kullanıcıya kendi indeks değerlerini belirleme fırsatı sunar.

In [7]:
# Basit bir pd.Series tanımlayalım

my_series_1 = pd.Series([1,2,3,4,5,6], index=["a","b","c","d","e","f"])
my_series_1

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [8]:
# pd.Series() için en sık kullanılan özellikler

print(f"Seri'nin tipi = {type(my_series_1)}")

Seri'nin tipi = <class 'pandas.core.series.Series'>

In [9]:
print(f"Serinin aksisleri = {my_series_1.axes}")

Serinin aksisleri = [Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')]

In [10]:
print(f"Serinin indeksleri = {my_series_1.index}")

Serinin indeksleri = Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [11]:
print(f"Serinin Veri tipi = {my_series_1.dtype}")

Serinin Veri tipi = int64

In [12]:
print(f"Serinin tuttuğu değerler = {my_series_1.values}")
print(f"Serinin tuttuğu değerlerin tipi = {type(my_series_1.values)}")

Serinin tuttuğu değerler = [1 2 3 4 5 6]
Serinin tuttuğu değerlerin tipi = <class 'numpy.ndarray'>

In [13]:
# .head() fonksiyonu, varsayılan olarak ilk 5 değeri getirir
print(f"ilk 5 değer = {my_series_1.head()}")

# ilk 100 değeri getirmek istersek (eğer 100 değerden fazla örneğimiz olsaydı)
# aşağıdaki şekilde kullanırdık my_series_1.head(100)

ilk 5 değer = a    1
b    2
c    3
d    4
e    5
dtype: int64

In [14]:
# head() fonksiyonunun tersi olan tail() fonksiyonu
# içine parametre vermezseniz varsayılan olarak son 5 değeri getirir

print(my_series_1.tail())

b    2
c    3
d    4
e    5
f    6
dtype: int64

In [15]:
# İndekslemeler:
my_series_1[0:2]

a    1
b    2
dtype: int64

In [16]:
# Object temelli indeksleme
my_series_1[:"c"]

a    1
b    2
c    3
dtype: int64

In [17]:
# Pandas'ta sayı temelli indeksleme için başka bir fonksiyon
# değer temelli indeksleme için başka bir fonksiyon kullanılır

In [18]:
# Değer temelli indeksleme
print(my_series_1.loc[:"c"]) # loc=location'ın kısaltmasıdır

a    1
b    2
c    3
dtype: int64

In [19]:
# Numara (integer) temelli indeksleme
print(my_series_1.iloc[:2]) #integerlocation = iloc

a    1
b    2
dtype: int64

In [20]:
# Dictionary yapısını Series'e çevirme
my_dict_1 = {"ogrenci_1":"Furkan","ogrenci_2":"Ahmet","ogrenci_3":"Veysel"}

my_series_2 = pd.Series(my_dict_1)
my_series_2

ogrenci_1    Furkan
ogrenci_2     Ahmet
ogrenci_3    Veysel
dtype: object

In [21]:
# Series tipindeki verileri birleştirme

my_series_3 = pd.concat([my_series_1, my_series_2])
my_series_3

a                 1
b                 2
c                 3
d                 4
e                 5
f                 6
ogrenci_1    Furkan
ogrenci_2     Ahmet
ogrenci_3    Veysel
dtype: object

In [22]:
#DataFrame, Series'lerin genişletilmiş ve daha kapsamlı-daha güçlü halidir.
# ÖZellikle, excel tabanlı işlemler için oldukça idealdir.
# Kendi yapısı içerisinde barındırdığı özellikler ve fonksiyonlar sayesinde
# başlı başına bir veri yapısı gibi davranır: Json, XML, excel, csv gibi
# veri yapılarını işlemede şu an piyasada en sık kullanılan veri işleme modülüdür.

In [43]:
# Basit bir DataFrame tanımlayalım

my_list_1 = [x for x in range(1,6)]

my_df = pd.DataFrame(my_list_1)
my_df

   0
0  1
1  2
2  3
3  4
4  5

In [49]:
# 3 sütun'dan (key'den) oluşan bir dictionary tanımlayın
# 1. sütun=> ismi: Yaş (20 ile 75 arasında rastgele 7 değer)
# 2. sütun=> ismi: Kilo (55 ile 120 kg arasında rastgele 7 değer)
# 3. sütun=> ismi: Boy (150 ile 200 cm arasında rastgele 7 değer)

col_age = np.random.randint(20,75,size=7)
col_weight = np.random.randint(55,120, size=7)
col_height = np.random.randint(150,200, size=7)

my_dict_2 = {"Yaş":col_age,"Kilo":col_weight,"Boy":col_height}
my_df_1 = pd.DataFrame.from_dict(my_dict_2)
my_df_1

   Yaş  Kilo  Boy
0   64    62  174
1   74    74  155
2   45    58  182
3   65    91  190
4   25    75  186
5   34    99  161
6   25   108  162

In [47]:
col_age

array([50, 61, 50, 69, 60, 61, 46], dtype=int32)

In [53]:
my_df_1.index
print(type(my_df_1.index))

<class 'pandas.core.indexes.range.RangeIndex'>

In [55]:
my_list_index = list(my_df_1.index)
my_list_index

[0, 1, 2, 3, 4, 5, 6]

In [57]:
my_list_index = list(my_df_1.index)
my_new_list_index = ["Furkan","Ahmet","Enes","Veysel","Leyla","Tuğçe","Tuğba"]
my_df_1.index = my_new_list_index
my_df_1

        Yaş  Kilo  Boy
Furkan   64    62  174
Ahmet    74    74  155
Enes     45    58  182
Veysel   65    91  190
Leyla    25    75  186
Tuğçe    34    99  161
Tuğba    25   108  162

In [59]:
# Tuğba isimli indeksin yeni adını Nur yapın

# İster tekli ister çoklu index değişikliği için 3 aşamalı bir işlem yapılır
# 1) Önce mevcut indexler bir liste olarak alınır
my_list_index_2 = list(my_df_1.index)

# 2) İndeksleri ele aldıktan sonra istenilen değişiklik yapılır
# Bu örnekte, Tuğba isimli kullanıcının Nur olarak değiştirilmesi isteniyordu
my_list_index_2[-1] = "Nur"

# 3) Değişiklik yaptıktan sonra yeni index listesini, mevcut index olarak
# belirleriz

my_df_1.index = my_list_index_2
my_df_1

        Yaş  Kilo  Boy
Furkan   64    62  174
Ahmet    74    74  155
Enes     45    58  182
Veysel   65    91  190
Leyla    25    75  186
Tuğçe    34    99  161
Nur      25   108  162

In [63]:
# Her bir index için onun cinsiyetini belirleyen değeri girin
# Bu değerleri yeni bir sütun olarak ekleyin

my_df_1["Cinsiyet"] = ["Erkek", "Erkek", "Erkek", "Erkek", "Kadın",
                      "Kadın","Kadın",]
my_df_1

        Yaş  Kilo  Boy Cinsiyet
Furkan   64    62  174    Erkek
Ahmet    74    74  155    Erkek
Enes     45    58  182    Erkek
Veysel   65    91  190    Erkek
Leyla    25    75  186    Kadın
Tuğçe    34    99  161    Kadın
Nur      25   108  162    Kadın

In [67]:
# Erkek-Kadın gibi kategorik verilerin frekans dağılımı
# matematiksel olarak bilinebilir
# Yani, bu DataFrame içerisinde kaç tane erkek kullanıcı kaç tane kadın
# kullanıcı olduğunu bilebiliriz
my_df_1["Cinsiyet"].value_counts()

Cinsiyet
Erkek    4
Kadın    3
Name: count, dtype: int64

In [73]:
# Boy sütununun ortalama değeri
my_df_1["Boy"].mean()

np.float64(172.85714285714286)

In [75]:
# Yukarıdaki kodla aynı işlevi görür ve aynı çıktıyı verir.
np.mean(my_df_1["Boy"].values)

np.float64(172.85714285714286)

In [77]:
# Basit filtreleme
# Boyu, 180 cm'den uzun olan kullanıcılar

my_df_1[my_df_1["Boy"]>180]

        Yaş  Kilo  Boy Cinsiyet
Enes     45    58  182    Erkek
Veysel   65    91  190    Erkek
Leyla    25    75  186    Kadın

In [79]:
my_df_1["Boy"]>180

Furkan    False
Ahmet     False
Enes       True
Veysel     True
Leyla      True
Tuğçe     False
Nur       False
Name: Boy, dtype: bool